.grid{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
}
.grid div {
    height: 20px;
    width: 20px;
}
.block {
    background-color: red;
}

body {
    background-color: #fff;
    color: #333;
    font-family: sans-serif;
    font-size: 16px;
}